@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/Ubuntu-Bold.ttf"),
    url("../assets/fonts/Ubuntu-Medium.ttf"),
    url("../assets/fonts/Ubuntu-Regular.ttf");
}

$font-name: "Ubuntu";
