@import url("../scss/colors-fonts.scss");

* {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-name, sans-serif;

  #root {
    height: 100vh;
    display: grid;
    place-items: center;
  }
}
